[Unit]
Description=Led Status
After=sysinit.target local-fs.target

[Service]
Type=simple
ExecStart=/home/pi/odoo/addons/nemo_pos/tools/posbox/configuration/led_status.sh

[Install]
WantedBy=basic.target
